[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nsp"]
	path = nsp
	url = https://github.com/cran/nsp
[submodule "unbalhaar"]
	path = unbalhaar
	url = https://github.com/cran/unbalhaar
